*{
	padding: 0;
	margin: 0;
}
.main{
	width: 1180px;
	margin: 0 auto;
}
.ser1{
	height: 130px;
	margin: 0 auto;
}
.ban1{
	padding-top: 5px;
	height: 30px;
	overflow: hidden;
}
 	font-size: 12px;
	color: grey;
	float: left;
	display: inline-block;
}
.i1{
	display: inline-block;
	overflow: hidden;
	height: 19px;
	width: 19px;
}
.im1{
	
}