*{
	padding: 0;
	margin: 0;
	text-decoration-line: none;
	color: black;
}
.main{
	width: 1180px;
	margin: 0 auto;
}
.ser1{
	height: 130px;
	margin: 0 auto;
}
.ban1{
	padding-top: 5px;
	height: 30px;
	overflow: hidden;
}
.p1{
 	font-size: 12px;
	color: grey;
	float: left;
	display: inline-block;
}
.p2{
	font-size: 12px;
	color: orange;
	float: right;
	display: inline-block;
}
.p3{
	font-size: 12px;
	color: grey;
	float: right;
	display: inline-block;
}
.i1{
	float: right;
	display: inline-block;
	margin-right: 12px;
}
.search{
	width: 500px;
	height: 40px;
	border-color: #fe6c00;
	border-width: 5px;
	border-style: solid;
	color: grey;
	border-radius: 5px;
}
.sqw{
	position: relative;
	width: 94px;
	height: 50px;
	border-style: solid;
	background-color: #fe6c00;
	border-color: #fe6c00;
	left: -12px;
	top: 1px;
	border-radius: 5px;
	color: white;
}
.dh400{
	position: relative;
	top:20px;
	display: inline-block;
	float: right;
	width: 86px;
	height: 40px;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	background-color: #fe6c00;
	border-radius: 2px;
}
.dzyj{
	position: relative;
	top:20px;
	display: inline-block;
	float: right;
	width: 86px;
	height: 40px;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	border-radius: 2px;
}
.dxk{
	font-size: 12px;
	position: relative;
	left: 250px;
	top: -8px;
}
.xz1{
	color: #fe6c00;
	text-decoration-line: none; 
}
.sx{
	color: grey;
}
.xz2{
	color: #c0a9d6;
	text-decoration-line: none; 
}
.xz0{
	color: black;
	text-decoration-line: none; 
}
.qqz{
	text-align: center;
	color: white;
	position: relative;
	top: 8px;
}
.zt1{
	width: 170px;
	height: 40px;
	background-color: #fe6c00;
	display: inline-block;
}
.qqz2{
	text-align: center;
	position: relative;
	top: 8px;
}
.zt2{
	margin-right: 24px;
	width: 80px;
	height: 40px;
	display: inline-block;
}